<header>
    <div class="container filmes">
        <app-search-bar></app-search-bar>
    </div>
</header>
<main>
    <section>
        <div class="filmes-grid">
            <app-filmes-grid></app-filmes-grid>
        </div>
    </section>
</main>