<div class="row justify-content-center searchbox">
    <div class="col-12 col-md-10 col-lg-8">
        <div class="container-searchbox">
            <div class="site-titulo">
                <h1>FILMES S.A</h1>
            </div>
            <form class="card card-sm" (keydown.enter)="$event.preventDefault()">
                <div class="card-body row no-gutters align-items-center">
                    <div class="col-auto">
                        <i class="fas fa-search h4 text-body"></i>
                    </div>
                    <div class="col">
                        <input id="input-text-search" (keydown.enter)="ProcurarFilme(query)" class="form-control form-control-lg form-control-borderless" type="text" placeholder="Pesquisar Filmes" #query>
                    </div>
                    <div class="col-auto">
                        <button class="btn btn-lg btn-success searchbox-button" type="button" (click)="ProcurarFilme(query)">Procurar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>