.searchbox{
    padding-bottom: 50px;
}
.searchbox-button{
    margin-left: 10px;
}

.container-serchbox {
    height: 10em;
    position: relative; 
}

.site-titulo{
    color: white;
    text-align: center;
    margin: 15px 15px 15px 15px;
}