<div *ngIf="existe" class="filmes-grid">
    <div *ngFor="let item of listaFilme" class="col-xl-2 col-lg-3 col-md-4 col-sm-12 card filmesbox"> 
        <img *ngIf="item.poster_path != null" class="card-img-top" src="https://image.tmdb.org/t/p/w185_and_h278_bestv2/{{item.poster_path}}" alt="">
        <img *ngIf="item.poster_path == null" class="card-img-top sem-imagem" src="assets/imgs/semimagem.png" alt="">
        <div class="card-body">
            <h5 class="card-title">{{item.title}}</h5>
            <p *ngIf="item.overview != ''" class="card-text">{{item.overview}}</p>
            <p *ngIf="item.overview == ''" class="card-text">Sem Descrição</p>
            <a routerLink="/detalhes-filme/{{item.id}}" class="btn btn-primary">Ver mais</a>
        </div>
    </div>
</div>
<div *ngIf="!existe">
    <div class="sem-filmes">
        <h3>Nenhum filme encontrado para essa pesquisa.</h3>
    </div>
</div>
