p {
    /* Tamanho */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
  }

h5{ 
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
  }

.filmesbox {
  width: 18rem;
  display: inline-flex;
  padding: 5px 5px 5px 5px;
 }

 .sem-filmes{
  color: white;
  position: absolute;
  width: 100%;
  height: 50px;
  top: 50%;
  left: 35%;
  margin-left: -50px;
  margin-top: -25px;
 }
.sem-imagem{
  height: 355.725px;
  width: 236.725px;
}