.filme {
    position: relative;
    margin: auto;
    width: 50%;
    padding: 10px;
    display: flex; 
    justify-content: center;
    margin-top: 100px;
}
.filme-detalhe {
    display: inline-flex;
  }

  .filme-detalhe-info{
    color: white;
  }

  .filme-detalhe-info-nome {
    padding: 10px;
    text-align: center;
  }

  .filme-detalhe-info-descricao {
    padding: 10px;
    text-align: center;
  }
  .filme-detalhe-voltar {
    position: relative;
    margin: auto;
    width: 50%;
    display: flex; 
    justify-content: center;
  }

  .filme-detalhe-imagem {
      min-width: 350px;
   }