
<main class="filme">
    <section>
      <div class="col-md-12">
        <div class="row">
          <div itemscope itemtype="https://schema.org/Movie" class="filme-detalhe">
            <img alt="Capa" class="filme-detalhe-imagem" itemprop="image" src="https://image.tmdb.org/t/p/w185_and_h278_bestv2/{{detalhesFilme?.poster_path}}">
            <div class="filme-detalhe-info">
              <h1 itemprop="name" class="filme-detalhe-info-nome">{{detalhesFilme?.title}}</h1>
              <p itemprop="description" class="filme-detalhe-info-descricao">{{detalhesFilme?.overview}}</p>
              <button routerLink="/home" class="btn btn-secondary btn-lg filme-detalhe-voltar">Voltar</button>
            </div>
          </div>
        </div>
      </div>
    </section>
</main>


